.qrcodegenerator {
    padding: 20px 0;
}

.qrcodegenerator__title {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
}

.qrcodegenerator__body {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.qrcodegenerator__input {
    height: fit-content;
    border: 1px solid black;
    padding: 5px;
}

.qrcodegenerator__button {
    border: 1px solid black;
    box-shadow: 0 0 5px grey;
    padding: 5px;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
}

.qrcodegenerator__button:hover {
    border: 1px solid blueviolet;
    box-shadow: 0 0 5px blueviolet;
}

.qrcodegenerator__code {}