.qrcodescanner {
    padding: 20px 0;
}

.qrcodescanner__title {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 10px;

}

.qrcodescanner__scanwindow {
    border: 2px solid blueviolet;
    width: fit-content;
    min-height: 230px;
}

.qrcodescanner__button {
    border: 1px solid black;
    box-shadow: 0 0 5px grey;
    padding: 5px;
    border-radius: 5px;
    transition: all 400ms ease-in-out;
}

.qrcodescanner__button:hover {
    border: 1px solid blueviolet;
    box-shadow: 0 0 5px blueviolet;
}