.qrcodescanner {
    padding: 20px 0;
}

.qrcodescanner__title {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
    padding: 10px;

}

.qrcodescanner__scanwindow {
    border: 2px solid blueviolet;
    width: fit-content;
    min-height: 230px;
}